.homeTitulo {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.homeLinks > a {
    color:white;
    font-size:x-large;
    margin: auto 0.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style:oblique;
}